
form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 10px solid hsl(60, 95%, 44%);
  border-radius: 2em;
  background-color:#9ba6b1;
  border:none;

}


form li + li {
  margin-top: 3em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: left;
  color: rgb(12, 12, 12);
  
}
select{
  position: relative;
  font-family: Arial, Helvetica, sans-serif, 
}

h1{ 
  text-align: center;
  font-size: 10;
  margin: 0;
  padding: 20px 0;
  color: #e67f0b;
  text-shadow: 4px 4px 4px rgb(226, 226, 12);
}


button, input, textarea {
  font-family: Arial;
  font-size: 100%;

}
.boton-enviar{
  background-color: #3639e6;
  border: none;
  font-size: 1rem;
  font-family: Arial;
  padding: 0.5rem;
}
.msg-error{
  color: red;
text-align: center;
font-family: Arial;
}
.msg-ok{
  color: green;
text-align: center;
font-family: Arial;
}
  body{
   
    background-color: rgb(139, 151, 156);
   background-image: url(uicslp.jpeg); 
   background-size: 100% 150%;
    background-repeat: no-repeat;
    
  }
  